ul.resp-tabs-list{margin:0;padding:0}
.resp-tabs-list li{font-weight:500;font-size:15px;padding:13px 15px;margin:0 4px 0 0;list-style:none;cursor:pointer;float:left}
.resp-tabs-container{padding:0;clear:left;}
h2.resp-accordion{cursor:pointer;padding:5px;display:none;}
.resp-tab-content{display:none;padding:0 15px;}
.resp-tab-active{color: var(--color-green);}
.resp-content-active,.resp-accordion-active{display:block}
.resp-tab-content{border:1px solid #c1c1c1;border-top-color:#5ab1d0}
h2.resp-accordion{margin:0;padding:15px 15px; background-color: transparent !important; border: none; font-size: 15px; text-transform: uppercase; font-weight: 600; text-align: right;}
h2.resp-tab-active{border-bottom:0 solid #c1c1c1!important;margin-bottom:0!important;padding:10px 15px!important}
h2.resp-tab-title:last-child{border-bottom:12px solid #c1c1c1!important;background:blue}
.resp-vtabs ul.resp-tabs-list{float:left;}
.resp-vtabs .resp-tabs-list li{display:block;padding:15px;margin:0 0 4px;cursor:pointer;float:none}
.resp-vtabs .resp-tabs-list li:hover{color: var(--color-green);}
.resp-vtabs .resp-tabs-container{padding:0px; margin-top: 50px; border:0px solid #c1c1c1;float:left;width:60%;border-radius:4px;clear:none;}.resp-vtabs .resp-tab-content{border:none;word-wrap:break-word}

.resp-vtabs li.resp-tab-active{position:relative;z-index:1;padding:14px 15px 15px 14px!important;margin-bottom:4px!important;}
.resp-arrow{width:0;height:0;float:left;margin-top:3px;border-left:6px solid transparent;border-right:6px solid transparent;border-top:12px solid #c1c1c1}
h2.resp-tab-active span.resp-arrow{border:none;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:12px solid #9b9797}h2.resp-tab-active{background:#dbdbdb}
.resp-easy-accordion h2.resp-accordion{display:block}
.resp-easy-accordion .resp-tab-content{border:1px solid #c1c1c1}
.resp-easy-accordion .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1}.resp-jfit{width:100%;margin:0}
.resp-tab-content-active{display:block !important;}
h2.resp-accordion:first-child{border-top:0px solid #c1c1c1}


.level-1{width:35%;height: 100vh; overflow-y: scroll; background: var(--color-white); padding: 100px 0 0 100px !important;}
ul.level-1 li{font-size: 22px; background-color: transparent !important;}
ul.level-1 li.resp-tab-active{background-color: #f4f4f4 !important;}
ul.level-2{width:50%;height: 600px; overflow-y: scroll; margin-top: 50px !important;}
ul.level-2 li{background-color: transparent !important; padding: 10px !important; font-size: 18px; font-weight: 400;}
ul.level-2 li a{display: block; font-size: 18px; font-weight: 400;}
ul.level-2 li a:hover{color: var(--color-green);}
ul.level-2 li.resp-tab-active{background-color: #f4f4f4 !important; padding: 10px !important;}

.level-3{height: 600px; width:50% !important; overflow-y: scroll;}
.level-3 ul{margin: 0; padding: 0;}
.level-3 ul li{list-style: none;padding: 10px !important; font-size: 18px; font-weight: 400;}
.level-3 ul li a{display: block; font-size: 16px; font-weight: 400;}
.level-3 ul li a:hover{color: var(--color-green);}
.level-3 ul li.head{font-weight: 500;padding-bottom: 0 !important;text-decoration: underline;}

#menu-scroll::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0);background-color:#e3e3e3}
#menu-scroll::-webkit-scrollbar{width:3px;background-color:#fbfbfb}
#menu-scroll::-webkit-scrollbar-thumb{background-color:#444444}


@media(min-width:320px) and (max-width:900px) {
ul.resp-tabs-list{width:100%; height: auto; overflow-y:unset; background: transparent !important; padding:0px !important;margin-top: 0 !important;}
ul.resp-tabs-list li{display:none !important;}
ul.resp-tabs-list li.tab-single-link{display: block !important;    margin: 0; padding: 15px 15px; background-color: transparent !important; border: none; font-size: 15px; text-transform: uppercase; font-weight: 600; text-align: right;}
h2.resp-accordion{display:block}
.resp-vtabs .resp-tab-content{border:1px solid #cbcbcb !important;}
.resp-vtabs .resp-tabs-container{border:none;float:none;width:100%;min-height:100px;clear:none;padding: 0;margin-top: 0 !important;}
.resp-accordion-closed{display:none!important}
.resp-vtabs .resp-tab-content:last-child{border-bottom:1px solid #c1c1c1!important}
.level-2,.level-3 { height: auto !important; width: 100% !important;}

}
